@model Contoso2.Models.Course
@{
    ViewBag.Title = "New";
}

<h2> New Course add</h2>

@using (Html.BeginForm("Create", "Course"))
{

    <div class="form-group ">

        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>

    <div class="form-group ">

        @Html.LabelFor(m => m.CourseID)
        @Html.TextBoxFor(m => m.CourseID, new { @class = "form-control" })
    </div>

    <div class="form-group ">

        @Html.LabelFor(m => m.Credits)
        @Html.TextBoxFor(m => m.Credits, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}



